<%= form_for @project, :url=> client_projects_path(@client) do |f| %>
   <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
   </div>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'ckeditor' %>
  </p>

  <div  class="form-group">
    <%= f.label :gems %><br>
    <%= f.text_field :gems, 'data-role' => 'tagsinput',class: "form-control" %>
  </div>

   <p> 
      <%#= f.fields_for :images do |image| %>
        <%#= render 'image_fields' %>
      <%# end %> 
      <div class='links'>
      <%#= link_to_add_association 'add image', f, :images %>
    </div>   
   </p>
    <div>
     <%= f.submit 'submit', class: "btn btn-primary" %>
    </div>  
<% end %>