<h1>Projects</h1>
<table class="table">
   <tr>
     <th>Title</th>
     <th>Description</th>
     <th>Gems</th>
     <th>Image</th>
   </tr>

   <% @projects.each do|project| %>
     <tr>
       <td><%= project.title %></td> 
       <td><%= raw(project.description) %></td>
       <td><%= project.gems %></td>
       <td>
         <% project.images.each do |image| %>
           <%=  image_tag (image.attachimg), :size => "50x50"  %>
         <% end %>
        </td>
       <td><%= link_to 'edit', edit_client_project_path(@client, project)%></td>
       <td><%= link_to 'Destroy', [project.client, project], method: :delete,
              data: { confirm: 'Are you sure?' }  %></td>
     </tr> 
   <% end %>
 </table>
